.wrapper_detail {
    width:100%;
    padding-top: 150px;
}

.top_detail {
    position: relative;
    width: 88%;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.left_top_detail {
    position: relative;
    width:40%;
    box-sizing: border-box;
    float: left;
}

.right_top_detail {
    position: relative;
    width: 60%;
    box-sizing: border-box;
    float: right;
}

.img_big_td {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background-size: cover;

}

.img_big_td > img {
    width: 100%;
}

         /*-----------  THUMBNAIL -----------*/

.img_small_td {
    width: 100%;
}

.thb_td{
    width: 20%;
    height: 80px;
    float: left;
    overflow: hidden;
}

.img_thb_td {
    position: relative;
    top:14%;
    left: 11%;
    width: 76%;
    height: 80%;
    box-sizing: border-box;

}

.img_thb_td > img {
    width: 100%;
    height: 100%;
}

.thb_td:hover {
    border: 2px solid #d9233d;
}


        /*-------------  PHẦN MÔ TẢ SẢN PHẨM ----------*/
.des {
    width: 100%;
    font-size: 13px;
    padding: 10px;
}

.title_des {
    font-weight: bold;
}

.name_product_des {
    font-weight: bold;
    margin-bottom: 8px;
}

.doc_them {
    width: 100px;
    height: 35px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    font-size: 11px;
}
            /*--------------- RIGHT ----------------*/

.title_rtd {
    width: 100%;
    font-size: 22px;
    padding: 10px;
}

.sku {
    color: #999;
    margin-bottom: 5px;
    padding: 10px;
}

.star {
    padding-left: 10px;
}

.fa-star {
    color: #ffc120;
    padding-right: 4px;
    padding-top: 4px;
    float: left;

}

.fa-star-half-alt {
    color: #ffc120;
    padding-right: 4px;
    padding-top: 4px;
    float: left;
    font-size: 11px;
}

.xdg {
    padding: 2px;
    font-size: 11px;
    text-transform: uppercase;
    background: #e9e9e9;
    color: #757575;
    margin-left: 10px;
    float: left;
}


            /*----------- FLASH_SALE ----------*/

.flash {
    width: 100%;
}

.flash_top {
    width: 96%;
    height: 50px;
    background-image: url("./../../../assets/img/products/detail/flash_sale.png");
    background-repeat: repeat-x;
    position: relative;
    margin-top: 10px;
}

.left_flash_top {
    position: relative;
    top: 10px;
    left: 10px;
    width: 180px;
    height:30px;
    border: 1px solid #ffed36;
    float: left;
}

.icon_flash {
    width: 20%;
    height: 100%;
    background: #ffed36;
    float: left;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    color: #d10a00;
}

.text_flash_sale {
    width: 80%;
    float: right;
    color: white;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
}

.mid_flash_top {
    position: relative;
    left: 40px;
    top: 10px;
    width: 250px;
    float: left;
}


.qlt_fl {
    width: 70%;
    height: 14px;
    font-size: 10px;
    background: linear-gradient(90deg,#ef3f43 0,#f6290c 0,#fa515d 0,#ff3400 0,#ed684d);
    border-radius: 10px;
    margin-top: 10px;
    
}

.qlt_fl > p {
    position: relative;
    left: 18px;
    color: #fff;
    line-height: 14px;
    left: 18px;
    text-transform: uppercase;
}

.right_flash_top {
    width: 230px;
    height: 100%;
    float: right;
}
.title_right_flash {
    width: 38;
    height: 100%;
    line-height: 50px;
    color: #fff;
    font-size: 13px;
    float: left;
}

.time_re {
    width: 50%;
    float: left;
}


.time_re_gpg {
    float: left;
    padding: 5px;
    border-radius: 4px;
    margin: 0px 5px;
    margin-top: 10px;
    margin-left: 7px;
    background: #3c3238;
    color: #fff;

}

                    /*------------- PRICE + SHIP ------------*/

.price_ship {
    position: relative;
    margin-top: 10px;
    width: 96%;
    
    margin-top: 10px;
    box-sizing: border-box;
}

.price {
    width: 100%;
    background-image: url("./../../../assets/img/products/detail/bg_flash_bot.jpg");
    background-repeat: no-repeat;
}

                    /*---------------- GIÁ BÁN LẺ -----------------*/

.gbl_price {
    width: 100%;
    height: 45px;
    font-size: 13px;
    color: #999;
    float: left;
    box-sizing:  border-box;
    
}

.text_price {
    width: 20%;
    height: 45px;
    float: left;
    line-height: 45px;
    padding-left: 10px;
}

.num_price {
    width: 50%;
    float: left;
    font-size: 18px;
    text-decoration: line-through;
    line-height: 45px;
}


                        /*------------------ GIÁ FLASH SALE -----------------*/

.gfs{
    width: 100%;
    color: #999;
    font-size: 13px;
    box-sizing: border-box;
}

.text_gfs {
    width: 20%;
    height: 45px;
    float: left;
    line-height: 45px;
    padding-left: 10px;
}

.num_fls {
    width: 13%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    color: #333;
}

.chu_thich_gfs {
    float: left;
    padding-top: 15px;
    padding-left: 5px;  
}

                        /*--------------- GIÁ ONLINE ---------------*/

.gonl{
    width: 100%;
    color: #999;
    font-size: 13px;
    box-sizing: border-box;
}

.text_gonl {
    width: 20%;
    height: 45px;
    float: left;
    line-height: 45px;
    padding-left: 10px;

}

.num_gonl {
    width: 14%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    color: red;

}

.ct_gonl {
    width: 66%;
    height: 45px;
    color: #999;
    font-size: 12px;
    float: left;
    line-height: 45px;

}

.bor_bot {
    position: relative;
    left: 5px;
    width: 98%;
    height: 1px;
    margin: 0 auto;
    background: #999;
    opacity: .5;
}

.km {
    width: 100%;
    margin-top: 13px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.title_km {
    width: 20%;
    height: 45px;
    float: left;
    line-height: 45px;
    padding-left: 10px;
    color: #999;
    font-size: 13px;
}

.wrapper_discount {
    width: 15%;
    height: 45px;
    float: left;
}

.discount {
    position: relative;
    left: 10%;
    top: 25%;
    background: #f98d00;
    color: 15px;
    text-align: right;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    float: left;
}

.fa-caret-left {
    position: absolute;
    left: -4px;
    color: #f98d00;
    top: 5px;
}

.text_discount {
    width: 60%;
    float: left;
    padding-top:10px;
    font-size: 13px;
}

.ttsp{
    width: 100%;
    color: #999;
    font-size: 13px;
    box-sizing: border-box;
}

.text_ttsp {
    width: 20%;
    height: 45px;
    float: left;
    line-height: 45px;
    padding-left: 10px;

}

.num_ttsp {
    width: 14%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    color: red;
    padding-left: 4px;

}


.flash_bot {
    width: 100%;
}

                    /*---------------- VẬN CHUYỂN ------------------*/

.ship {
    width: 96%;
    box-sizing: border-box;
    padding: 10px 0px;
    padding-left: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.left_ship {
    width: 11%;
    color: #999;
    font-size: 13px;
    float: left;
}

.right_ship {
    width: 88%;
    float: left;
    font-size: 13px;
    padding-left: 60px;
    color: #999;
    box-sizing: border-box;
}

                /*--------------- CHỌN SỐ LƯỢNG ---------------*/

.select_qlt {
    width: 100%;
    margin: 30px 0px;
}


.left_qlt {
    width: 20%;
    float: left;
    color: #999;
    font-size: 13px;
    padding-top: 10px;
}

.right_qlt {
    width: 80%;
    float: left;
}

.minus_qlt {
    padding: 6px 10px;
    float: left;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #999;
}

.text_select_qlt {
    padding: 6px 10px;
    float: left;
    border: 1px solid #999;

}

.plus_qlt {
    padding: 6px 10px;
    float: left;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #999;
}

                    /*---------------- BUTTON FLASH BOT --------------*/

.button_fl_bot {
    width: 96%;
    margin-top: 50px;
}

.buy {
    width: 20%;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    float: left;
    background: #d10a00;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.add_to_card {
    width: 30%;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #dd1100;
    box-sizing: border-box;
    color: #d10a00;
    float: left;
    margin-left: 20px;
    text-transform: uppercase;
}

.ibx {
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: right;
    border: 1px solid #999;
    text-transform: uppercase;
    color: #999;
}


        /*------------------ FOOT FLASH BOT --------------*/

.foot_fl_bot {
    width: 100%;
    margin-bottom: 100px;
}

.title_foot_fl_bot {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
    line-height: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.kmhd {
    width: 235px;
    height: 35px;
    float: left;
    border-bottom: 2px solid #999;
    box-sizing: border-box;    
}

.th {
    width: 235px;
    height: 35px;
    float: left;
    border-bottom: 2px solid #999;
    box-sizing: border-box;
}

.dgvbl {
    width: 235px;
    height: 35px;
    float: left;
    border-bottom: 2px solid #999;
    box-sizing: border-box;

}

.text_foot_fl_bot {
    width: 100%;
    background: #fff;
    height: 100px;
    margin-top: 15px;
}


                /*--------------- MID DETAIL -----------------*/
.bot_detail {
    width: 88%;
    background: #fff;
    margin: 0 auto;
    margin-top: 80px;
}


.product_right_tivi {
    width: 25%;
    padding: 14px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 100px;
}
                
.img_right_tivi {
    width: 100%;
}
                
.img_right_tivi > img {
    width: 100%;
}                
                
.detail {
    width: 100%;
    height: 62px;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    white-space: inherit; 
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}                
                
.price-off {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    font-size: 15px;
}                
                
.price-on {
    color: red;
    font-size:12px;
    margin-top: 6px;
}

.rating {
    height: 20px;
    box-sizing: border-box;
    padding-top: 2px;
    margin-top:5px;
}                
                
.no_rating {
    color: #bbb;
    font-size:13px;
}

.fa-star {
   color:#ffc120;
   font-size:11px;
}

.gift {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

.gift > img {
    width: 100%;
}

.qlt {
    width: 100%;
    height: 14px;
    font-size: 10px;
    background: linear-gradient(90deg,#ef3f43 0,#f6290c 0,#fa515d 0,#ff3400 0,#ed684d);
    border-radius: 10px;
    margin-top: 10px;
    
}

.qlt > p {
    position: relative;
    left: 18px;
    color: #fff;
    line-height: 14px;
    left: 18px;
    text-transform: uppercase;
}                