<app-appheader></app-appheader>
<app-appmenu></app-appmenu>

<div class="content-wrapper" id="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#"><i class="fa fa-dashboard" (click) = "onLogout()"></i> Logout</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <hr>
  <div class="container">
      

    <div class="container-header" style="height: 50px; ">
        <h1>List Products</h1>
    </div>
    <div class="container-footer" style="height: 50px;">
        <table class = "table table-hover">
          <thead>
            <tr class="table-admin">
                <th>ID</th>
                <th>Title</th>
                <th>Images</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Is_active</th>
                <th>Category</th>
                <th>Status</th>
                <th>Discount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-admin" *ngFor="let item of _product | paginate : {itemsPerPage:5, currentPage: p}">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>
                  <p *ngFor="let items of item.images">
                    <button style="border: none;" (click)="onDelete(item)"><img src="{{items}}" style="width:100px; height: 100px;"></button>
                  </p>
                  <div>
                    <button type="button" class="btn btn-danger" (click)="loadid(item.id)">Add Image</button>
                    <form *ngIf="show">
                        <div class="form-group">
                          <input type="text" style="width:400px;" class="form-control" [(ngModel)]="dataImage" #image="ngModel" name="image"  placeholder="Enter URL">
                        </div>
                        <button type="button" class="btn btn-success" (click)="addImage()">Add URL</button>
                    </form>
                  </div>
                    
                </td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.is_active}}</td>
                <td>{{item.category}}</td>
                <td>{{item.status}}</td>
                <td>{{item.discount}}</td>
                <td>
                  <button type="button" style="margin-bottom: 3px;" class="btn btn-success" [routerLink]="['/admin/editproduct', item.id]">Edit</button>
                  <br>
                  <button type="button" class="btn btn-danger" (click)="onDeActive(item.id)">DeActive</button>
                </td>
            </tr>
            <tr>
              <th></th>
            </tr>
        </tbody>
        </table>
        <div class="row">
          <pagination-controls 
              (pageChange)="p = $event"  
              maxSize="7"
              previousLabel="Previous"
              nextLabel="Next">
          </pagination-controls>
      </div>  
    </div>
  </div>
</div>
<!-- /.content-wrapper -->