<div class="content">


	<div class="head_content_wrapper">
			<div class="left_content">
			<li *ngFor="let items of _category | slice:0:12"><a href="#">{{items.name}}</a>
				<div class="menu_con_left_content">
					<div class="list_mclc" *ngFor="let menucon of items.sub_category">
						<div class="title_list_mclc">
							{{menucon.name}}
							<i class="fas fa-chevron-right" style="font-size: 12px;"></i>
						</div> <!-- TITLE LIST MENU COCN LEFT CONTENT -->

						<div class="wrapper_text_mclc">
							<div class="text_list_mclc">| <span>Dưới 44 inch</span></div>
							<div class="text_list_mclc">| <span>44 đến 49 inch</span></div>
							<div class="text_list_mclc">| <span>50 đến 59 inch</span></div>
							<div class="text_list_mclc">| <span>60 đến 69 inch</span></div>
							<div class="text_list_mclc">| <span>Trên 69 inch</span></div>

							<div class="clear"></div>
						</div> <!-- WRAPPER TEXT MENU CON LEFT CONTENT -->

						<div class="clear"></div>
					</div> <!-- LIST MENU CON LEFT CONTENT -->
				</div> <!-- MENU CON LEFT CONTENT -->
			</li>


			</div> <!-- LEFT CONTENT --------------------->

			<div class="mid_content">
					<div class="banner">
						<img src="./../../../assets/./../../../assets/img/banner/banner-pv.png">
					</div> <!-- BANNER -->
			
					<div class="banner_foot">
						<li class="active"><a >Phong Vũ - Sales 24/7</a></li>
						<li><a >Tivi và Thiết bị thông minh</a></li>
						<li><a >Chương trình từ PVMall</a></li>
						<li><a >Ưu đã Hàng Cao Cấp</a></li>
						<li><a >Khuyến Mãi Toàn Hệ Thống</a></li>
			
						<div class="clear"></div>
					</div> <!-- BANNER FOOT -->
			</div> <!-- MID CONTENT ---------------------->

			<div class="right_content">
					<div class="img_right_content">
						<img src="./../../../assets/img/banner/banner-right1.png">
					</div>
					<div class="img_right_content">
						<img src="./../../../assets/img/banner/banner-right2.png">
					</div>
					<div class="img_right_content">
						<img src="./../../../assets/img/banner/banner-right3.png">
					</div>
			</div> <!-- RIGHT CONTENT -------------------->

			<div class="clear"></div>
	</div> <!-- HEAD CONTENT WRAPPER --------------------------------------------->

  <div class="pink">
      <div class="circle"></div>
      <marquee>
        <div>8/3 Trao gửi yêu thương - Nhap mã "YEUTHUONG" giảm tới 8% khi mua TV</div>
      </marquee>
  
      <div class="clear"></div>
	</div> <!---------------------- PINK -->
	
<div class="rowTwo">
		<div class="rowTwo-left">
				<img src="./../../../assets/img/banner/tivi.png">
		</div> <!-- LEFT TIVI -->

		<div class="right_tivi">
				<div class="list_product responsive rowTwoProduct-responsive">
					<div class="product_right_tivi " *ngFor="let item of _product" [routerLink]="['detail', item.id]">
						<div class="img_right_tivi">
							<img [src]="item.images[0]"  alt="Image">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail">
							{{item.title}}
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">{{ item.price * ((100-item.discount)/100) | currency:' ':'symbol':'2.3-6' }}đ
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->
	
						<div class="price-on_products_hmv"> {{item.price}}
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div> <!-- PRICE ON -->

						<div class="rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

						<div class="qlt">
							<p>Còn lại: {{item.quantity}}</p>
						</div>
					</div> <!-- PRODUCT RIGHT TIVI -->
				</div> <!-- LIST PRODUCT -->
		</div> <!-- RIGHT TIVI ----------------------->



		<div class="clear"></div>
	</div>
<!-- ============================TV============================== -->

  
  <div class="tivi2">
			<div class="tivi2_title">

				<div class="tivi2_title_big">
					<span style="color: #d10a00;">TIVI GIÁ TỐT - CHỐT LIỀN TAY</span> TẠI PHONG VŨ
				</div> <!-- TITLE TIVI 2 LỚN -->
				<div class="tivi2_title_small">
					Đừng vội mua TV nếu chưa xem giá tại Phong Vũ
				</div> <!-- TITLE TIVI 2 NHỎ -->

			</div> <!-- TIVI 2 TITLE -->

			<div class="products_tivi2_wrapper">
				<div class="product_right_tivi2" *ngFor="let item of _product" [routerLink]="['detail', item.id]">
					<div class="img_right_tivi2" >
							<img [src]="item.images[0]"  alt="Image">
					</div> <!-- IMG RIGHT TIVI -->

					<div class="detail_products_tivi2">
							{{item.title}}
					</div> <!-- DETAIL -->

					<div class="price-off_products_hmv">{{ item.price * ((100-item.discount)/100) | currency:' ':'symbol':'2.3-6' }}đ
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá bán lẻ)</span>
					</div> <!-- PRICE OFF -->

					<div class="price-on_products_hmv"> {{item.price}}
						<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
					</div> <!-- PRICE ON -->

					<div class="rating">
						<!-- <div class="no_rating">Chưa có đánh giá</div> -->

						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star" style="color: #8bb6ff;"></i>
					</div> <!-- RATING -->

					<div class="gift_products_tivi2">
						<img src="https://phongvu.vn/images/icon_Gift.svg">
					</div> <!-- GIFT -->

					<div class="qlt_products_tivi2">
							<p>Còn lại: {{item.quantity}}</p>
					</div> <!-- QLT -->
				</div> <!-- PRODUCT RIGHT TIVI 2 -->


			</div> <!-- PRODUCT TIVI 2 WRAPPER ----------------------->

			<div class="clear"></div>
			
		</div> <!-- TIVI 2 --------------------------------------------------->

		<div class="hotdeal">
			<div class="img_hotdeal">
				<img src="./../../../assets/img/hotdeal/hotdeal1.png">
			</div> <!-- IMG HOT DEAL -->

			<div class="img_hotdeal">
				<img src="./../../../assets/img/hotdeal/hotdeal2.png">
			</div> <!-- IMG HOT DEAL -->

			<div class="img_hotdeal">
				<img src="./../../../assets/img/hotdeal/hotdeal3.png">
			</div> <!-- IMG HOT DEAL -->

			<div class="clear"></div>
		</div> <!-- HOT DEAL --------------------------->

		<div class="hmv">
			<div class="title_hmv">
				<div class="icon_title_hmv">
					<img src="./../../../assets/img/icon/hangmoi.jpg"/>
				</div> <!-- ICON TITLE HMV -->

				<div class="text_title_hmv">
					<div class="text_title_hmv_big">
						Hàng mới về
					</div> <!-- TEXT TITLE HMV BIG -->

					<div class="text_title_hmv_small">
						Đừng để lỡ những sản phẩm công nghệ mới nhất mỗi ngày
					</div>

					<div class="clear"></div>
				</div> <!-- TEXT TITLE HMV -->

				<div class="clear"></div>
			</div> <!-- TITLE HMV -->

			<div class="clear"></div>

			<div class="products_hmv_wrapper responsivehmv rowTwoProduct-responsive">
				<div class="products_hmv" *ngFor="let item of _product" [routerLink]="['detail/', item.id]">
						<div class="img_products_hmv">
							<img [src]="item.images[0]"  alt="Image">
						</div> <!-- IMG RIGHT TIVI -->

						<div class="detail_products_hmv">
							{{item.title}}
						</div> <!-- DETAIL -->

						<div class="price-off_products_hmv">{{ item.price * ((100-item.discount)/100) | currency:' ':'symbol':'2.3-6' }}đ
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá bán lẻ)</span>
						</div> <!-- PRICE OFF -->

						<div class="price-on_products_hmv"> {{item.price}}
							<span style="font-size: 11px; font-style:italic; font-weight: lighter; color: #333;">(Giá tốt online)</span>
						</div>

						<div class="rating">
							<!-- <div class="no_rating">Chưa có đánh giá</div> -->

							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star" style="color: #8bb6ff;"></i>
						</div> <!-- RATING -->

						<div class="gift_products_hmv">
							<img src="https://phongvu.vn/images/icon_Gift.svg">
						</div> <!-- GIFT -->

				</div> <!-- PRODUCTS HMV -------------------->

				<div class="clear"></div>
			</div> <!-- PRODUCTS HÀNG MỚI VỀ WRAPPER -->
		</div> <!-- HÀNG MỚI VỀ -->

		<div class="clear"></div>
		
</div> <!-- CONTENT -------------------------->
