<section class="content-header">
  <h1>
    Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#"><i class="fa fa-dashboard" (click)="onLogout()"></i> Logout</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<div class="container">
  <div class="container-header" style="height: 50px; ">
    <h1 style="text-align:center;">Edit Product</h1>
  </div>
  <form (ngSubmit)="onUpdate(frm)" #frm="ngForm">
    <!--[(ngModel)]="product.id"  -->
    <!-- <div class="form-group">
        <h4>ID:</h4>
        <input class="form-control" [(ngModel)]="product.id" name="txtid" #id="ngModel">
      </div> -->
    <div class="form-group">
      <h4>Title:</h4>
      <input class="form-control" name="txttitle" [(ngModel)]="product.title" #title="ngModel" required>
    </div>
    
    <div class="form-group">
      <h4>Images:</h4>
      <img [src]="product?.image" [(ngModel)]="product.images" #images="ngModel" [ngModelOptions]="{standalone: true}">
      <input type="file" class="form-control" name="images" accept="png,jpg,jpge" (change)=handleFileInput($event)>
    </div>

    <div class="form-group">
      <h4>Price:</h4>
      <input class="form-control" name="txtprice" [(ngModel)]="product.price" #price="ngModel" required>

    </div>
    
    <div class="form-group">
      <h4>Quantity:</h4>
      <input class="form-control" name="txtquantity" [(ngModel)]="product.quantity" #quantity="ngModel" required>

    </div>


    <div class="form-group">
      <h4>Category:</h4>
      <select id="input" class="form-control" required="required" name="txtcategory" [(ngModel)]="product.category"
        #category="ngModel">
        <option value="Screen" selected>Screen</option>
        <option value="Monitor">Monitor</option>
        <option value="Mouse">Mouse</option>
        <option value="Hard Disk">Hard Disk</option>
        <option value="Mainboard">Mainboard</option>
        <option value="Laptop">Laptop</option>
      </select>

    </div>

    <div class="form-group">
      <h4>Status:</h4>
      <select id="input" class="form-control" name="txtstatus" [(ngModel)]="product.status" #status="ngModel">
        <option value="Empty" selected>Empty</option>
        <option value="Pending">Pending</option>
        <option value="Sales">Sales</option>
        <option value="Selling">Selling</option>
      </select>

    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-bottom: 100px;">Edit</button>
  </form>

</div>